@charset 'utf-8';

/* 主题样式css开始 */
	
* {
	margin: 0;
	padding: 0;
}
/*html {
filter:progid:DXImageTransForm.Microsoft.BasicImage(grayscale=1);
-webkit-filter: saturate(0);
} */

@font-face {
        font-family:'txjl';
        src:url(https://img.jinchuang.org/fonts/DroidSansChinese.woff);
}

html {
	cursor:url(https://me.jinchuang.org/img/cursor.cur),auto;
}

*::-moz-selection {
	color: #fff !important;
	background-color: #8e8e8e !important;
}

*::selection {
	color: #fff !important;
	background-color: #8e8e8e !important;
}
*::-webkit-selection {
    color: #fff !important;
    background-color: #8e8e8e !important;
}

.article-content ol,.article-content ul {
	padding-left: 30px;
	/*border-left: 2px solid #3ac19f;*/
	
}
::-webkit-scrollbar {
	width:0px;
	height:5px;
}
::-webkit-scrollbar-thumb {
	border-width: 0;
    border-style: solid;
    border-radius: 5px;
    background: #d2d2d2;
}
/*ol li {
	list-style:decimal;
}*/
ul li {
	list-style-type: square;
}
input::-webkit-input-placeholder { /* WebKit browsers */
        color:#828282;
        }
input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
        color:#828282;
        }
input::-moz-placeholder { /* Mozilla Firefox 19+ */
        color:#828282;
        }
input:-ms-input-placeholder { /* Internet Explorer 10+ */
        color:#828282;
        }

hr {
    margin: 10px 0;
    border: 0;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ffffff;
}
code {
    font-family: sans-serif;
}
pre {
	display: block;
	padding: 9.5px;
	margin: 0 0 10px;
	font-size: 13px;
/*	line-height: 1.42857143;*/
	color: #000;
	word-break: break-all;
	word-wrap: break-word;
	background-color: #f3f3f3;
	border: 0px solid #ccc;
	overflow: auto;
	border-radius:5px;
}
.wave-box{
    display:none;
}

.main {
	margin: 0 auto;
	padding-top: 50px;
	width: 950px;
}
@media screen and (max-width:767px) {
	.main {
		padding: 110px 20px 0 20px;
		width: auto;
	}
	.box {
        position:relative;
        top:-80px;
	}
	footer div{
	/*margin:80px auto;*/
	}

	.search {
       /* position:relative;*/
        top:-50px;
		z-index:99;
	}
	.intro {
        top:-50px;
       /* position:relative;*/
	}
	table tbody{font-size:12px;}

}

header .main .intro .intro-logo {
	width: 100px;
	height: 100px;
}
header .main .intro .intro-sitename {
	font-size: 26px;
}
/* 波浪样式 */
.marquee-box{overflow:hidden;width:100%;position:absolute;left:0;top:0}
.marquee{width:8000%;height:60px}
.wave-list-box{float:left}
.wave-list-box ul{float:left;height:60px;overflow:hidden;zoom:1}
.wave-list-box ul li{height:60px;width:100%;float:left;line-height:30px;list-style:none}
.wave-box{position:relative;height:65px;background:#fff}


content .article {
	padding: 10px 0;
}
.article-content .readmore {
	margin-top: 20px;
	margin-bottom: 0;
}
.article-content .readmore a {
	color:#000000;
}
footer {
	font-size: 14px;
}
.visib-768 {
	display: none;
}

a:hover {
/*	-webkit-animation: links 1s 4;
	animation-direction:alternate;*/
}

.intro {
	padding: 10px 0 10px 0;
	width: 100%;
	text-align: center;
/*	transition: all .5s;
	-webkit-animation: nav-down .5s;
	animation: nav-down .5s;*/
}
.intro:hover .intro-logo {
	transform: rotate(360deg);
}
.intro:hover .social a {
	transform: rotate(360deg);
}
.intro-logo {
	display: block;
	margin: 0 auto;
	width: 120px;
	height: 120px;
	border-radius: 50%;
	transition: all 1.8s;
/*	animation: tiao_fly 1s 1s alternate infinite;
        -webkit-animation: tiao_fly 1s 1s alternate infinite;
*/
}
.intro-sitename {
	display: block;
	font-weight: 400;
	font-size: 35px;
}
.intro-sitename a {
	color: #FFFFFF;
	/*font-family: 华文行楷;*/
	font-family: "txjl";
}
.intro-siteinfo {
	display: block;
	color: #fff;
	font-size: 14px;
	opacity: 1;
	font-weight:500;
}
.intro-siteinfo:hover {
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;

}
.social {
	display: block;
	text-align: center;
}

@media screen and (max-width:767px) {
	body {
		position: relative;
	}
	.archives_list{
        padding-left:2% !important;
    }
	nav {
		position: absolute;
		top: 15px;
		left: 15px;
	}
	nav .collapse {
		position: relative;
		display: block;
		width: 40px;
		height: 40px;
		text-align: center;
		cursor: pointer;
		-webkit-animation: nav-down .5s;
		animation: nav-down .5s;
	}
	nav .collapse i {
		color: #fff;
		font-size: 24px;
	}
	nav ul {
		display: none;
		width: 60px;
		/*background: rgba(255, 255, 255, 0.65);*/
		color:#fff;
		-webkit-animation: show .3s;
		animation: show .3s;
		border-radius:5px;
		border:1px solid #444444;
	}
	nav ul {
		margin: -9px 0 0 -11px;
		padding: 0;
		text-align: center;
	}
	nav ul li {
		float: none;
		width: 100%;
		list-style: none;
		line-height: 36px;
		cursor: pointer;
		transition: all 0.6s ease;
	}
	nav ul li:hover {
		/*background: #ddd;*/
		color: red;
		transition: all 0.6s ease;
	}
	nav ul li a {
		display: block;
		color: #fff;
		font-size:14px;
		transition: all 0.8s ease;
	}
	nav ul li a:hover {
		color: #fff;
		background: rgba(255,255,255,0.5);
		border-radius:5px;
		transition: all 0.8s ease;
	}
}

@media screen and (min-width:768px) {
	nav .collapse {
		display: none;
	}
	nav {
		padding-bottom: 12px;
		padding-top:12px;
		text-align: center;
	/*	transition: all .5s;
		-webkit-animation: nav-down .5s;
		animation: nav-down .5s;*/
	}
	ul li {
		box-shadow: 0px 0px 0px #171717, 0px 0px 0px #171717, 10px 0px 0px #171717, 3px 5px 4px #ffffff;
	}
	ul li a:hover {
		-webkit-animation: links 1s 4;
      	animation-direction:alternate;

	}
	nav ul {
		display: inline-block;
		text-align: center;
	}
	@-webkit-keyframes tiao_fly {
     	0% {
        	margin-top: 30px;
     	}
     	50% {
        	margin-top: 3px;
		}
	}
	@keyframes tiao_fly {
		0% {
			margin-top: 5px;
     	}
     	50% {
        	margin-top: 3px;
    	}
	}
	nav ul li {
		float: left;
		margin: 0 auto;
		font-size:12px;
		width: 90px;
		list-style: none;
		/*border: 1px solid;
	    border-color: rgba(255, 250, 250, 0);
	   	border-radius: 15px;*/
		border:0;
		font-weight:bold;
		background: url(https://me.jinchuang.org/img/nav.png) no-repeat;
	}
	nav ul li a {
		color: #fff;
	}
}

.social a {
	margin: 0 10px;
	color: #fff;
	transition: all 1.5s;
}
.social a i {
	font-size: 16px;
}
.article {
	padding: 10px 0;
	-webkit-animation: article-up .8s;
	animation: article-up .8s;
}
.article-title a:hover {
	background: #000000;
	color: #fff;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 0.5s ease;

}
.article-title {
	text-align: center;
	color: #000000;
	font-weight: 700;
	font-size: 22px;
}
.article-content {
	margin-top: 20px;
	font-size:13px;
	color: #000000;
}
.article-content p a {
	color:#0088ce;
}
.article-content img {
	clear: both;
	display: block;
	margin: 0px auto;
	max-width: 100%;
/*	max-height: 420px;*/
}

.readmore {
	margin: 5px 0 50px 0;
	text-align: center;
}
.post-tags {
	margin-top: 20px;
}
.social-share {
/*	float: right;*/
}
.post-tags .tag {
	margin: 0 10px;
	color: #9A9797;
    	background-color: rgba(87, 122, 183, 0.04);
    	padding: 2px 5px;
    	border-radius: 5px;
    	box-shadow: 0px 0px 1px #56b6e7, /*左边阴影*/ 0px 0px 0px #56b6e7, /*上边阴影*/ 0px 0px 0px #56b6e7, /*右边阴影*/ 0px 0px 0px #56b6e7;
}
.pagination a,.pagination span {
	position: relative;
	display: inline-block;
	margin: 0 10px;
	padding: 0 10px;
	line-height: 30px;
	color: #000000;
}
.pagination span {
	background: #fff;
	border-radius:5px;
}
.pagination a:hover {
	margin-top: -1px;
}
.pagination,.post-nav {
	margin-top:40px;
	text-align:center;
	font-size:14px;
	user-select:none;
}
.prev a:before {
	content: ' ';
	background: url("../img/prev.png") no-repeat 50% 50%;
}
.next a:after {
	content: ' ';
	background: url("../img/next.png") no-repeat 50% 50%;
}
.post-nav-item a:before, .post-nav-item a:after {
	display: inline-block;
	width: 16px;
	height: 23px;
	vertical-align: top;
	background-size: 14px;
}
.post-nav .prev {
	float:left;
	list-style:none;
	font-weight:bold;
	user-select:none;
}
.post-nav .next {
	float:right;
	list-style:none;
	font-weight:bold;
	user-select:none;
}
.post-nav .next:hover,.post-nav .prev:hover {
	
}

@media (max-width:767px) {
	.pagination a,.pagination span {
		margin: 0 3px;
	}
	.post-nav .next,.post-nav .prev {
		float: none;
	}
	.post-nav .next:hover,.post-nav .prev:hover {
		margin-top: 0;
		border: none;
	}
}

@-webkit-keyframes links {
	0% {
		-webkit-transform: rotate(-2deg);
	}
	100% {
		-webkit-transform: rotate(2deg);
	}
}

@-webkit-keyframes nav-down {
	0% {
		opacity: 0;
		transform: scale(1) translateY(-10em);
	}
	100% {
		opacity: 1;
		transform: scale(1) translateY(0);
	}
}
@-webkit-keyframes article-up {
	0% {
		opacity: 0;
		transform: scale(1) translateY(10em);
	}
	100% {
		opacity: 1;
		transform: scale(1) translateY(0);
	}
}
@-webkit-keyframes show {
	0% {
		opacity: 0;
		transform: scale(0);
	}
	70% {
		transform: scale(1.1);
	}
	100% {
		opacity: 1;
		transform: scale(1);
	}
}
@-webkit-keyframes totop {
	0% {
		opacity: 0;
		transform: translateX(10em);
	}
	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

.page-navigator .current a {
	color: #fff;
	background: #000000;
	border:1px solid #000000;
}
.page-navigator a:hover {
	background: #000000;
	text-decoration: none;
	color:#fff;
	border-radius:5px;
	border: 1px solid #000000;
	transition: all 0.6s ease;
}
.page-navigator a {
	display: inline-block;
	padding: 0 10px;
	height: 30px;
	line-height: 30px;
	border-radius:5px;
	border:1px solid;
	transition: all 0.5s ease;
}
.page-navigator li {
	display: inline-block;
	margin: 0 4px;
}
.page-navigator {
	list-style: none;
	margin: 25px 0;
	padding: 0;
	text-align: center;
}
.archive-title {
	display: block;
	color: #000000;
	text-align: center;
	font-size: 26px;
}
.post-title {
	display: block;
	text-align: center;
}
p {
	padding: 0.3em;
}
blockquote {
	border-radius:5px;
    color: #ffffff;
    width: 85px;
	height:30px;
	font-size:14px;
    padding: 0px 10px 2px 10px;
	background: #000000;
    box-shadow: 0 0 15px #717171;
}
.blokquotehr {
	border:0;
	border-top:1px dashed #000000;
	margin-top:-1px;
}
.article-title a {
	color: #000000;
	border-radius: 10px;
    padding: 3px 12px 0px 12px;
	transition: all 1s ease-out;
}
header {
	width: 100%;
	background: #171717;
	/*background-image: url(https://img.jinchuang.org/background.png);
    	background-repeat: no-repeat;
    	background-position: center -30px;
    	background-attachment: fixed;*/
	height:450px;
	user-select: none;
}
footer {
	margin: 20px auto;
	color: #000000;
	text-align: center;
	font-size: 12px;
}
.toTop {
	z-index: 1000;
	position: fixed;
	right: 1.2em;
	bottom: 2.2em;
	border-radius:25px;
	display: none;
	width: 36px;
	height: 36px;
	background: #000000;
	color: #fff;
	text-align: center;
	line-height: 36px;
	font-size: 14px;
	cursor: pointer;
	transition: all .3s;
	-webkit-animation: totop .8s;
	animation: totop .8s;
	box-shadow:0 0 15px #888888;
}
.article-time {
	display: block;
	color: #000000;
	text-align: center;
	font-size: 12px;
}
a,u {
	/*position: relative;*/
	display: inline-block;
	color: #272727;
	text-decoration: none;
	padding-left:3px;
}
.readmore a:hover {
	background: #000000;
	color: #fff;
	border-radius: 5px;
}
.readmore a {
	padding: 0 10px;
	color: #000000;
	transition: all .5s;
}
body {
	background: #FFF;
	color: #333;
	font-size: 16px;
	/*font-family: 微软雅黑, 'Trebuchet MS', sans-serif;*/
	font-family: "txjl", sans-serif;
	/*font-family: Helvetica, Tahoma, Arial, "Microsoft YaHei", "Hiragino Sans GB", "WenQuanYi Micro Hei", sans-serif;*/
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	line-height: 1.8;
}

/**body:before {
    content: " ";
    position: fixed;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: url(http://upload.spursgo.com/usr/img/laiang.jpg) center 0 no-repeat;
    background-size: cover;
    opacity: .3;
**/
/* comments 评论样式*/
@media print, screen and (max-width: 767px) {
	#comments {
		margin: 10px 10px;
	}
}

#comments a {
/*	border-bottom: none;*/
}
#comments .widget-title {
/**	font-size: 16px;
	font-weight: normal;
	line-height: 2.7;
	display: block;
	margin: 0;
	padding-bottom: 0;
	color: #009999;
	border-bottom: 1px solid #ddd;
	margin-top: 30px;
**/
	border-left: 5px solid;
    padding: 0px 5px;
    color: #6f6d6e;
	border-radius:5px;
}
#comments .pagination {
	margin: 35px 0 30px 0;
	text-align: center;
}
#comments {
	font-size: 14px;
	margin-top: 20px;
}
.comments .comment-about {
	width: 33.333%;
	float: left;
	padding-left: 10px;
	box-sizing: border-box;
}
.comments .comment-about:first-child {
	padding-left: 0;
}

@media (max-width: 637px ) {
	.comments .comment-about {
		width: 100%;
		float: left;
		padding: 0;
	}
}

/*博主的评论样式*/
.comment-by-author > .comment-author .fn::after {
	display: inline-block;
	content: '博主';
	transform: scale(0.8,0.8);
	background: #12baef;
	color: white;
	padding: 1px 4px;
	border-radius: 5px;
}
.comment-meta {
	margin-top: -10px;
}
.comment-content a {
	border-bottom: 1px solid #ddd;
}
.comment-content a {
	border-bottom-color: transparent;
}
.comment-content pre code {
	padding: 1.5em 2em;
}
.comment-content p code {
	display: inline;
	margin: 0 5px;
	padding: 3px 5px;
	border: 1px solid #ddd;
}
.comment-content p {
	padding-left:40px;
	word-break:break-all;
	Word-wrap:break-Word;
}
.comment-list,
.comment-list ol {
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 14px;
	margin-top:-20px;
}
.comment-list {
	margin-top: -1px;
	margin-bottom:20px;
	margin-left:20px;
}
.comment-list li {
	padding: 25px 0 0;
}
.comment-list li.comment-level-even {
	background: rgba(255,255,255,0);
}

.comment-list li .comment-reply {
	font-size: .92857em;
	float: right;
	margin-top: -24px;
	background:#e0e0e0;
	border-radius:5px;
}
.comment-list li .comment-reply a {
	color:#fff;
	padding-right:2px;
	transition: all 0.6s ease;
}
.comment-list li .comment-reply a:hover {
background: #2196F3;
    color: white;
    border-radius: 5px;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;

}
.comment-meta a {
	font-size: 9px;
	color: #929292;
}
.comment-author {
	display: block;
	margin-bottom: 1px;
	color: #444;
}

.comment-author .avatar {
	float: left;
	border-radius:5px;
	margin: 5px 3px 0 0;
	transition: all 0.5s;
	background:#ffffff;
	box-shadow: 0 0 15px #cecece;
	transition: all 1s ease;
}
.avatar:hover {
	transform: rotate(720deg);
	border-radius:16px;
	box-shadow:0 0 10px #929292;
}
.comment-author cite {
	font-style: normal;
	line-height: 1.2;
	font-size:12px;
	padding-right:1px;
}
.comment-awaiting-moderation {
	font-style: normal;
	float: right;
	margin-top: -20px;
	color: #777;
}
.comment-list .respond {
	margin: 15px 0;
	border-top: 1px solid #ddd;
}
.comment-body .respond {
	margin: 0 0 25px;
	border: none;
}
.comment-children {
	margin-left: 40px;
}
.respond .cancel-comment-reply {
	font-size: .92857em;
	float: right;
	margin-top: 15px;
}
#comment-form {
	padding-top: 0px;
}
#comment-form label {
	position: absolute;
	display: block;
	margin: 1px 0px;
	color: #fff;
	background: #828282;
    padding-left: 8px;
    padding-top: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    height: 28px;
}
#comment-form input {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
	padding: 8px 6px 8px 30px;
	color: #828282;
	border: solid 1px #f3f1f1;
	background: #fbfbfb;
	-o-box-sizing: border-box;
}
button.submit {
    color: #FFF;
    font-size: 14px;
    text-align: center;
    border: none;
    border-radius: 4px;
    width: 100%;
    height: 36px;
    line-height: 32px;
    padding: 0 15px;
    display: inline-block;
    position: relative;
    cursor: pointer;
    box-sizing: border-box;
    -webkit-transition: color 0.15s ease-in,background-color 0.15s ease-in;
    transition: color 0.15s ease-in,background-color 0.15s ease-in;
    color: #FFF;
    border: 1px solid #000000;
    background-color: #000000;
}
button.submit:hover {
    background-color: #dc0434;
    color: #FFFFFF;
    border: 1px solid #dc0434;
}

textarea.text-area {
	font-size: 14px;
	line-height: 1.8;
	overflow: auto;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	height: 174px;
	margin: 0;
	padding: 5px 8px 5px;
	color: #555;
	background: #fdfdfd !important;
	-o-box-sizing: border-box;
}
.search {
	text-align: center;
	padding: 5px 0 25px 0;
}
.search-form {
	color: rgba(93, 93, 93, 0.6);
	font-size: 12px;
	display: inline-block;
	border-bottom: 1px rgba(74,74, 74, 0.6) solid;
	line-height: 26px;
	border-radius:10px;
	border-top: 1px solid;
	width:240px;
}
.search-field {
	border: 0;
	background-color: rgba(0,0,0,0);
	/**color: rgba(255,255,255,.95);**/
	color:#ffffff;
	font-size: 12px;
	text-align: center;
	/*font-family:inherit;*/
	font-family:"txjl";
}
.search-field::-webkit-input-placeholder { /* WebKit browsers */
	color:#fff;
}
.search-field:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
	color:#fff;
}
.search-field::-moz-placeholder { /* Mozilla Firefox 19+ */
	color:#fff;
}
.search-field:-ms-input-placeholder { /* Internet Explorer 10+ */
	color:#fff;
}
 
button, input, textarea {
	outline: 0;
	text-indent:25px;
	/*font-family: "微软雅黑";*/
	font-family:"txjl";
	width: 100%;
	padding: 0px;
	border: 1px solid #d4d4d4;
	border-radius: 5px;
	padding: 5px 0px 0px 5px;
}
.textarea {
/**	background: url(../img/comments.png) no-repeat center;**/
    background: url(/img/comments/jc.jpg) no-repeat;
    background-position: 99.5% 95%;
    background-size: 70px 70px;
}
.reward-button {
	font-size: 14px;
	font-weight:bold;
	line-height: 30px;
	position: relative;
	display: block;
	width: 60pt;
	margin: 0 auto;
	padding: 0;
	-webkit-user-select: none;
	text-align: center;
	vertical-align: middle;
	color: #fff;
	border-radius: 4px;
	cursor:pointer;
	/*background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);*/
	background-image: linear-gradient(to right, #212121 0%, #3e3e3e 100%);
	box-shadow: 0px 0px 10px 2px #c3c2c2;
}
#QR {
	padding-top: 20px;
}
#wechat_qr {
	width: 200px;
	height: 210px;
    border-top-left-radius:10px;
    border-top-right-radius:10px;
    /*border-bottom-left-radius:25px;
    border-bottom-right-radius:25px;*/
}
#alipay_qr {
	width: 200px;
	height: 210px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	/*border-bottom-left-radius:25px;
	border-bottom-right-radius:25px;*/
}
.zfb {
    color: #ffffff;
	background-image: linear-gradient(to top, #0755dc 0%, #019fe8 100%);
    font-weight: bold;
    /*border-top-left-radius: 25px;*/
    border-bottom-left-radius: 10px;
    /*border-top-right-radius: 25px;*/
    border-bottom-right-radius: 10px;
    padding: 2px 10px 2px 10px;
    margin-top: -8px;
}
.wx {
    color: #ffffff;
	background-image: linear-gradient(to top, #009688 0%, #22ab38 100%);
    font-weight: bold;
    /*border-top-left-radius: 25px;*/
    border-bottom-left-radius: 10px;
    /*border-top-right-radius: 25px;*/
    border-bottom-right-radius: 10px;
    padding: 2px 10px 2px 10px;
    margin-top: -8px;
}
.wxpd {
	display: inline-block;
    padding-right: 30px;
}
.zfbpd {
    display: inline-block;
    padding-left: 30px;
}
@media screen and (max-width: 768px) {
    .wxpd {padding-right:0px;}
    .zfbpd {padding-left:0px;}
}

#pContent .ssBtn {
	width: 20px;
	height: 60px;
	background: #009999 none repeat scroll 0% 0%;
	position: relative;
	right: 0px;
	bottom: 0px;
	box-sizing: border-box;
	border-left: none;
	cursor: pointer;
	display: box-shadow:;
	float: right;
}
.linkimg {
	width: 20px;
    height: 20px;
    float: left;
    margin: 10px -2px !important;
    border-radius: 25px;

}
.linkimgvideo {
    width: 20px;
    height: 20px;
    float: left;
    margin: 2px -35px !important;
    border-radius: 5px;

}

.links {
	display: inline-block;
	margin: 5px;
	width: 120px;
	height: 40px;
/**	background:#cccccc;**/
	border-radius:2px;
	padding: 0 10px;
	box-shadow:0 0 10px #efefef;
	transition: all 1s ease;
}
.links-k {
    display: inline-block;
    margin: 5px;
    width: 120px;
	background:#fff;
    border-radius:5px;
    padding: 0 11px;
    border:0;
	cursor: inherit;
} 
/* 友链背景模糊变色 */
.links:hover {
	background: #fbfbfb;
    box-shadow: #cecece 0px 0px 10px 2px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
	background: url(/img/linkico/background/120x40.png) no-repeat;
    background-size: 100% 100%;
}

.duan_cu {
	font-size:15px;
	font-weight:bold;
	border-left: 5px solid #00264e;
	padding: 0px 6px;
	border-radius:3px;
}
.duan {
	border-left: 5px solid #673ab7;
	padding: 0px 6px;
	text-align:left;
	border-radius:3px;
    font-size: 14px;
	color: #000;
	font-weight:bold;
	
}
.game {
	cursor: pointer;
	text-align: center;
}
.hide {	
	display: none;
	text-align:left;	
}
.weixin {
	width: 0px;height:0;display: inline-block;position:relative;z-index:1;
}
.weixin img{
	position:absolute;left:0;bottom:0;width: 120px;padding-left:10px;display: block;height:120px;max-width: 120px;margin:-50px -10px;
}
.gradps {
    font-size: 12px;
    font-weight: 500;
	text-align:center;
    color: #000000;
    background-image: -webkit-linear-gradient(92deg,#000000,#1eacdf);
    -webkit-background-clip: text;
    -webkit-animation: hue 20s infinite linear; /*此处秒数控制颜色变化间隔*/
}
@-webkit-keyframes hue {
  from {
    -webkit-filter: hue-rotate(0deg);
  }

  to {
    -webkit-filter: hue-rotate(-360deg);
  }
}
.linkico {
	width: 20px;
    	float: left;
    	margin: 4px -7px;
}
/* Border 友链链接文字特效*/
.link-border a {
	color: #e74c3c;
	font-weight: 500;
	-webkit-transition: -webkit-transform 0.2s;
	transition: transform 0.2s;
	outline: none;
	padding-top:9px;
}

.link-border a:hover{
/*	-webkit-transform: scale(0.8333);
	transform: scale(0.8333);*/
	font-weight:bold;
}
/*
.link-border a::before {
	position: absolute;
	top: 12px;
	box-sizing: content-box;
	width: 100%;
	height: 60%;
	border-bottom: 1px solid #E10AEF;
    border-top: 1px solid #088EAD;
	content: '';
	opacity: 0;
	-webkit-transition: opacity 0.2s, -webkit-transform 0.2s;
	transition: opacity 0.2s, transform 0.2s;
	-webkit-transform: scale(0.8333);
	transform: scale(0.8333);
}
*/
.link-border a:hover::before{
	opacity: 1;
	-webkit-transform: scale(1.2);
	transform: scale(1.2);
}
/*.lkfont {color: #000;font-family:'Microsoft YaHei',arial,tahoma,sans-serif;font-size:14px;}*/
.lkfont {
	color: #000;
	font-family:'txjl',arial,tahoma,sans-serif;
	transition: all 0.4s ease;
}
.num{position: relative;}

.linkleft {
    border-left: 5px solid #f96b8a;
    text-align: left;
    font-size: 17px;
    font-weight: bold;
    line-height: 20px;
    margin-bottom: 5px;
    margin-top: 5px;
	border-radius:5px;
}
.b1{border-left:2px solid #737373}
.b2{border-left:2px solid #737373}
.b3{border-left:2px solid #737373}
.b4{border-left:2px solid #737373}

.b1:hover{border-left:2px solid #000000}
.b2:hover{border-left:2px solid #000000}
.b3:hover{border-left:2px solid #000000}
.b41:hover{border-left:2px solid #000000}

.tt1 {
    color: #000000;
	/*background-image: linear-gradient(-20deg, #b721ff 0%, #21d4fd 100%);*/
    font-weight: bold;
    width: 110px;
	border-bottom: 2px solid;
    /*border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;
    border-top: 2px solid;*/
    padding: 0px 0px 0px 0px;
	user-select: none;
}
.tt3 {
	color: #000;
	/*background-image: linear-gradient(-60deg, #ff4646 0%, #ffa500 100%);*/
    font-weight: bold;
    width: 110px;
	border-bottom: 2px solid;
   /* border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;
    border-top: 2px solid;*/
    padding: 0px 0px 0px 0px;
	user-select: none;
}
.tt2 {
    color: #ffffff;
	background-image: linear-gradient(to right, #94e846 0%, #45d4fb 100%);
    font-weight: bold;
    width: 110px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 0px;
    padding: 0px 0px 0px 0px;
	user-select: none;
}
.tt4 {
    color: #000;
	/*background-image: linear-gradient(15deg, #004973 0%, #78fff0 100%);*/
    font-weight: bold;
    width: 110px;
	border-bottom: 2px solid;
    /*border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;
    border-top: 2px solid;*/
    padding: 0px 0px 0px 0px;
	user-select: none;
}
.tt5 {
    color: #000000;
    /*background-image: linear-gradient(15deg, #00bcd4 0%, #e91e63 100%);*/
    font-weight: bold;
    width: 110px;
	border-bottom: 2px solid;
   /* border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;
    border-top: 2px solid;*/
    padding: 0px 0px 0px 0px;
	user-select: none;
}
.hr1 {
	margin:-1px;
	margin-left:110px;
	margin-bottom: 16px;
	border:0;
    transform: scaleY(1.3);
}
.hr3 {
    margin:-1px;
    margin-left:110px;
	margin-bottom:16px;
    border:0;
	transform: scaleY(1.3);
}
.hr4 {
    margin:-1px;
    margin-left:110px;
	margin-bottom:16px;
    border:0;
    transform: scaleY(1.3);
}
.hr5 {
    margin:-1px;
    margin-left:110px;
	margin-bottom: 16px;
    border:0;
    transform: scaleY(1.3);
}
.hr2 {
    margin:-1px;
    margin-left:111px;
    margin-bottom: 5px;
    border:0;
    border-top: 1px dashed #97558b;
}

/*娱乐页面*/
.game0 {
    font-weight: bold;
    width: 110px;
    cursor:pointer;
    background-image: linear-gradient(to top, #ff9800 0%, #ffc107 100%);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 10px;
    padding: 4px 35px 4px 35px;
}
.game1 {
    color: #ffffff;
	background-image: linear-gradient(to top, #d40148 0%, #ff1100 100%);
    font-weight: bold;
    width: 110px;
	cursor:pointer;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 10px;
    padding: 4px 35px 4px 35px;
}
.game2 {
    color: #ffffff;
    font-weight: bold;
    width: 110px;
	cursor:pointer;
	background-image: linear-gradient(to top, #2196F3 0%, #08aae2 100%);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 10px;
    padding: 4px 35px 4px 35px;
}
.game4 {
    font-weight: bold;
    width: 110px;
    cursor:pointer;
    background-image: linear-gradient(to top, #3a9a92 0%, #009688 100%);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 10px;
    padding: 4px 42px 4px 42px;
}
.game5 {
    font-weight: bold;
    width: 110px;
    cursor:pointer;
    background-image: linear-gradient(to top, #607d88 0%, #607d88 100%);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 10px;

    padding: 4px 43px 4px 43px;
}
.game6 {
    font-weight: bold;
    width: 110px;
    cursor:pointer;
    background-image: linear-gradient(to top, #000000 0%, #000000 100%);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 10px;

    padding: 4px 36px 4px 36px;
}

.hj{
    font-weight: bold;
    width: 110px;
    cursor:pointer;
    background-image: linear-gradient(to left, #9C27B0 0%, #E91E63 100%);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 10px;

    padding: 4px 35px 4px 35px;

}

/*评论标题样式*/
.ping1 {
    color: #ffffff;
	background-image: linear-gradient(to right, #1b1b1b 0%, #4a4a4a 100%);
	font-size:14px;
    width: 115px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 05px;
    padding: 0px 10px 0px 10px;
	margin-bottom:1px;
	box-shadow: 0px 2px 25px 2px #757575;
	text-align:center;
	user-select: none;
}
.ping2 {
    color: #ffffff;
	background-image: linear-gradient(to top, #000000 0%, #484848 100%);
	font-size:14px;
    width: 86px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 2px 15px 2px 15px;
	box-shadow: 0px 2px 25px 2px #adadad;
	user-select: none;
}
/*鼠标经过图片放大*/
.fangda {  
    display: block;  
    width: 300px;  
    margin: 0 auto;  
    overflow: hidden;  
}  
  
.fangda img {  
    display: block;  
    border: 0;  
    width: 100%;  
    transition: all 1s ease 0s;  
    -webkit-transform: scale(1.3);  
    -webkit-transform: all 1s ease 0s;  
 
  
    transform: scale(1.3);  

}
/* 游戏页面链接样式 */
.gamea{
	box-shadow: 0 0 15px #eaeaea;
    border-radius: 5px;
    transition: all 1s ease;
	margin:4px 6px;
	padding:2px 10px;
}
.gamea:hover{
	box-shadow: 0 0 15px #bbbbbb;
    transition: all 0.5s ease;
}
/*表格css样式*/
table {
    width: 100%; /*表格宽度*/
    max-width: 65em; /*表格最大宽度，避免表格过宽*/
    border: 1px solid #dedede; /*表格外边框设置*/
    margin: 0px auto; /*外边距*/
    border-collapse: collapse; /*使用单一线条的边框*/
    empty-cells: show; /*单元格无内容依旧绘制边框*/
	text-align:left;
}
table th,
table td {
  height: 35px; /*统一每一行的默认高度*/
  border: 1px solid whitesmoke; /*内部边框样式*/
  padding: 0 10px; /*内、边距*/
}
table th {
    font-weight: bold; /*加粗*/
    text-align: center !important; /*内容居中，加上 !important 避免被 Markdown 样式覆盖*/
    background: #00cee8; /*背景色*/
	border-top-left-radius:10px;
	border-top-right-radius:10px;
}
table tbody tr:nth-child(2n) {
    background: #efefef; 
}
table th {
    white-space: nowrap; /*表头内容强制在一行显示*/
}
table{table-layout:fixed;word-break:break-all;} /*列td内容过长也不会被撑开*/
table tbody{}
/* 联系方式 */
.i1 {color:#ffffff;/*opacity:0.5*/}
.i2 {color:#ffffff;/*opacity:0.5*/}
.i3 {color:#ffffff;/*opacity:0.5*/}
i:hover {color:#fff;/*opacity:1*/} 


/* 菜单圆角 */
@media screen and (max-width: 768px) {
	.lixue {border-radius:5px;}

}
@media screen and (min-width: 768px) {
	.lixue {border-radius:30%;}
   // 电脑
}

/*文字闪烁效果*/
.shan{ 
	animation: changeshadow 2s  ease-in  infinite ;
	/* 其它浏览器兼容性前缀 */
    -webkit-animation: changeshadow 2s linear infinite;
    -moz-animation: changeshadow 2s linear infinite;
    -ms-animation: changeshadow 2s linear infinite;
    -o-animation: changeshadow 2s linear infinite;
}  
@keyframes changeshadow {  
    0%{ text-shadow: 0 0 4px #b72eff}  
    50%{ text-shadow: 0 0 40px #000000}  
    100%{ text-shadow: 0 0 4px #e91e63}  
}
/* 添加兼容性前缀 */
@-webkit-keyframes changeshadow {
  0%{ text-shadow: 0 0 4px #4cc134}  
      50%{ text-shadow: 0 0 40px #4cc134}  
      100%{ text-shadow: 0 0 4px #4cc134}  
}
@-moz-keyframes changeshadow {
    0%{ text-shadow: 0 0 4px #4cc134}  
        50%{ text-shadow: 0 0 40px #4cc134}  
        100%{ text-shadow: 0 0 4px #4cc134}  
}
@-ms-keyframes changeshadow {
    0%{ text-shadow: 0 0 4px #4cc134}  
        50%{ text-shadow: 0 0 40px #4cc134}  
        100%{ text-shadow: 0 0 4px #4cc134}  
}
@-o-keyframes changeshadow {
    0%{ text-shadow: 0 0 4px #4cc134}  
        50%{ text-shadow: 0 0 40px #4cc134}  
        100%{ text-shadow: 0 0 4px #4cc134}  
}

