/*主题样式css开始*/
* {
	margin: 0;
	padding: 0;
}

html {
	/* 整站黑白 */
	/*filter:progid:DXImageTransForm.Microsoft.BasicImage(grayscale=1);
	-webkit-filter: saturate(0);*/
}

body {
	background: #FFF;
    color: #333;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height: 1.8;
	cursor: url(../img/body.cur),auto;
	font-family:"Microsoft YaHei", "Hiragino Sans GB", "WenQuanYi Micro Hei", sans-serif;
}

a,.reward-button {
	cursor: url(../img/link.cur),auto;
}

.article-content ol,.article-content ul {
	/*padding-left: 30px;*/
	/*border-left: 2px solid #3ac19f;*/
}

/* 谷歌浏览器滚动条隐藏 */
::-webkit-scrollbar {
	width: 0px;
	height: 5px;
}

ul li {
	list-style-type: square;
}

input::-webkit-input-placeholder {
 /* WebKit browsers */
	color: #828282;
}

input:-moz-placeholder {
 /* Mozilla Firefox 4 to 18 */
	color: #828282;
}

input::-moz-placeholder {
 /* Mozilla Firefox 19+ */
	color: #828282;
}

input:-ms-input-placeholder {
 /* Internet Explorer 10+ */
	color: #828282;
}

hr {
	margin: 10px 0;
	border: 0;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ffffff;
}

code {
	font-family: sans-serif;
}

pre {
	display: block;
	padding: 9.5px;
	margin: 0 0 10px;
	font-size: 13px;

	color: #000;
	word-break: break-all;
	word-wrap: break-word;
	background-color: #f3f3f3;
	border: 0px solid #ccc;
	overflow: auto;
	border-radius: 5px;
}

.main {
	margin: 0 auto;
	padding-top: 50px;
	width: 950px;
}

@media screen and (max-width:767px) {
	.main {
		padding: 110px 20px 0 20px;
		width: auto;
	}

	.box {
		position: relative;
		top: -80px;
	}

	footer div {
	/*margin:80px auto;*/
	}

	.search {
       /* position:relative;*/
		top: -50px;
		z-index: 99;
	}

	.intro {
		top: -50px;
       /* position:relative;*/
	}

	table tbody {
		font-size: 12px;
	}
}

header .main .intro .intro-logo {
	width: 100px;
	height: 100px;
}

header .main .intro .intro-sitename {
	font-size: 32px;
}

/* 波浪 */
.marquee-box {
	overflow: hidden;
	width: 100%;
	position: absolute;
	left: 0;
	top: 0
}

.marquee {
	width: 8000%;
	height: 60px
}

.wave-list-box {
	float: left
}

.wave-list-box ul {
	float: left;
	height: 60px;
	overflow: hidden;
	zoom: 1
}

.wave-list-box ul li {
	height: 60px;
	width: 100%;
	float: left;
	line-height: 30px;
	list-style: none
}

.wave-box {
	position: relative;
	height: 110px;
	background: #fff
}

content .article {
	padding: 10px 0;
}

.article-content .readmore {
	margin-top: 20px;
	margin-bottom: 0;
}

footer {
	font-size: 14px;
}

.visib-768 {
	display: none;
}

::selection {
	background: #03A9f4;
	color: #fff;
}

a:hover {
/*	-webkit-animation: links 1s 4;
	animation-direction:alternate;*/
}

.intro {
	padding: 10px 0 10px 0;
	width: 100%;
	text-align: center;

}

.intro:hover .intro-logo {
	transform: rotate(360deg);
}

.intro:hover .social a {
	transform: rotate(360deg);
}

.intro-logo {
	display: block;
	margin: 0 auto;
	width: 120px;
	height: 120px;
	border-radius: 50%;
	transition: all 1.8s;

}

.intro-sitename {
	display: block;
	font-weight: 400;
	font-size: 35px;
}

.intro-sitename a {
	color: #FFFFFF;
	font-family: "Trebuchet MS";
}

.intro-siteinfo {
	display: block;
	color: #fff;
	font-size: 16px;
	opacity: 1;
	font-weight: 500;
}

.intro-siteinfo:hover {
	color: #81fff4;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
	-ms-transition: all 1s ease;
	transition: all 1s ease;
}

.social {
	display: block;
	text-align: center;
}

@media screen and (max-width:767px) {
	body {
		position: relative;
	}

	.archives_list {
		padding-left: 2% !important;
	}

	nav {
		position: absolute;
		top: 15px;
		left: 15px;
	}

	nav .collapse {
		position: relative;
		display: block;
		width: 40px;
		height: 40px;
		text-align: center;
		-webkit-animation: nav-down .5s;
		animation: nav-down .5s;
	}

	nav .collapse i {
		color: #fff;
		font-size: 24px;
	}

	nav ul {
		display: none;
		width: 60px;

		color: #fff;
		-webkit-animation: show .3s;
		animation: show .3s;
		border-radius: 8px;
		border: 1px dashed rgba(255,255,255,0.44)
	}

	nav ul {
		margin: -9px 0 0 -9px;
		padding: 0;
		text-align: center;
	}

	nav ul li {
		float: none;
		width: 100%;
		list-style: none;
		line-height: 36px;
		transition: all 0.6s ease;
	}

	nav ul li:hover {

		color: red;
		transition: all 0.6s ease;
	}

	nav ul li a {
		display: block;
		color: #fff;
		font-size: 14px;
		transition: all 0.8s ease;
	}

	nav ul li a:hover {
		color: #fff;
		background: rgba(255,255,255,0.5);
		border-radius: 5px;
		transition: all 0.8s ease;
	}
}

@media screen and (min-width:768px) {
	nav .collapse {
		display: none;
	}

	nav {
		padding-bottom: 12px;
		padding-top: 12px;
		text-align: center;

	}

	ul li {
		box-shadow: 0px 0px 0px rgb(0, 159, 217), 0px 0px 0px rgb(0, 159, 217), 10px 0px 0px rgb(0, 159, 217), 3px 5px 4px #ffffff;
	}

	ul li a:hover {
		animation-direction: alternate;
		animation: jump ease 1.5s 1;
		-webkit-animation: jump ease 1.5s 1;

	}

	nav ul {
		display: inline-block;
		text-align: center;
	}
	@	-webkit-keyframes tiao_fly {
		0% {
        	margin-top: 30px;
	}

	50% {
		margin-top: 3px;
	}
}

@keyframes tiao_fly {
	0% {
		margin-top: 5px;
	}

	50% {
		margin-top: 3px;
	}
}

nav ul li {
	float: left;
	margin: 0 auto;
	font-size: 14px;
	width: 90px;
	list-style: none;
	border: 0;
	font-weight: bold;
	background: url(../img/nav.png) no-repeat;
}

nav ul li a {
	color: #fff;
}
}

.social a {
	margin: 0 10px;
	color: #fff;
	transition: all 1.5s;
}

.social a i {
	font-size: 16px;
}

.article {
	padding: 10px 5px;
	-webkit-animation: article-up .8s;
	animation: article-up .8s;
}

.article-title a:hover {
	background: #009FD9;
	color: #fff;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
	-ms-transition: all 1s ease;
	transition: all 0.5s ease;
}

.article-title {
	text-align: center;
	color: #009FD9;
	font-weight: 700;
	font-size: 22px;
	padding-top: 20px;
}

.article-content {
	margin-top: 20px;
	font-size: 13px;
	color: #000000;
}

.article-content img {
	clear: both;
	display: block;
	margin: 0px auto;
	max-width: 100%;
/*	max-height: 420px;*/
}

.acimg {
	width: 48%;
	margin-left: 10px !important;
	margin-bottom: 10px !important;
	box-shadow: 0 0 40px rgb(158, 158, 158);
	border-radius: 5px;
	display: unset !important;
	border: 0 !important;
}

.readmore {
	margin: 5px 0 50px 0;
	text-align: center;
}

.post-tags {
	margin-top: 20px;
}

.social-share {
/*	float: right;*/
}

.post-tags .tag {
	margin: 0 10px;
	color: #9A9797;
	background-color: rgba(87, 122, 183, 0.04);
	padding: 2px 5px;
	border-radius: 5px;
	box-shadow: 0px 0px 1px #56b6e7, /*左边阴影*/ 0px 0px 0px #56b6e7, /*上边阴影*/ 0px 0px 0px #56b6e7, /*右边阴影*/ 0px 0px 0px #56b6e7;
}

.pagination a,.pagination span {
	position: relative;
	display: inline-block;
	margin: 0 10px;
	padding: 0 10px;
	line-height: 30px;
	color: #009fd9;
}

.pagination span {
	background: #fff;
	border-radius: 5px;
}

.pagination a:hover {
	margin-top: -1px;
}

.pagination,.post-nav {
	margin-top: 40px;
	text-align: center;
	font-size: 14px;
	user-select: none;
}

.prev a:before {
	content: ' ';
	background: url("../img/prev.png") no-repeat 50% 50%;
}

.next a:after {
	content: ' ';
	background: url("../img/next.png") no-repeat 50% 50%;
}

.post-nav-item a:before, .post-nav-item a:after {
	display: inline-block;
	width: 16px;
	height: 23px;
	vertical-align: top;
	background-size: 14px;
}

.post-nav .prev {
	float: left;
	list-style: none;
	font-weight: bold;
	user-select: none;
}

.post-nav .next {
	float: right;
	list-style: none;
	font-weight: bold;
	user-select: none;
}

.post-nav .next:hover,.post-nav .prev:hover {
}

@media (max-width:767px) {
	.pagination a,.pagination span {
		margin: 0 3px;
	}

	.post-nav .next,.post-nav .prev {
		float: none;
	}

	.post-nav .next:hover,.post-nav .prev:hover {
		margin-top: 0;
		border: none;
	}
}

@-webkit-keyframes links {
	0% {
		-webkit-transform: rotate(-2deg);
	}

	100% {
		-webkit-transform: rotate(2deg);
	}
}

@-webkit-keyframes nav-down {
	0% {
		opacity: 0;
		transform: scale(1) translateY(-10em);
	}

	100% {
		opacity: 1;
		transform: scale(1) translateY(0);
	}
}

@-webkit-keyframes article-up {
	0% {
		opacity: 0;
		transform: scale(1) translateY(10em);
	}

	100% {
		opacity: 1;
		transform: scale(1) translateY(0);
	}
}

@-webkit-keyframes show {
	0% {
		opacity: 0;
		transform: scale(0);
	}

	70% {
		transform: scale(1.1);
	}

	100% {
		opacity: 1;
		transform: scale(1);
	}
}

@-webkit-keyframes totop {
	0% {
		opacity: 0;
		transform: translateX(10em);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

.page-navigator .current a {
	color: #fff;
	background: #009fd9;
	border: 1px solid #009fd9;
}

.page-navigator a:hover {
	background: #009fd9;
	text-decoration: none;
	color: #fff;
	border-radius: 5px;
	border: 1px solid #009fd9;
	transition: all 0.6s ease;
}

.page-navigator a {
	display: inline-block;
	padding: 0 10px;
	height: 30px;
	line-height: 30px;
	border-radius: 5px;
	border: 1px solid;
	transition: all 0.5s ease;
}

.page-navigator li {
	display: inline-block;
	margin: 0 4px;
}

.page-navigator {
	list-style: none;
	margin: 25px 0;
	padding: 0;
	text-align: center;
}

.archive-title {
	display: block;
	color: #009FD9;
	padding-top: 20px;
	text-align: center;
	font-size: 26px;
}

.post-title {
	display: block;
	text-align: center;
}

p {
	padding: 0.3em;
}

blockquote {
	border-radius: 5px;
	color: #ffffff;
	width: 85px;
	height: 30px;
	font-size: 14px;
	padding: 0px 10px 2px 10px;
	background: rgb(0, 159, 217);
	box-shadow: 0 0 15px #b3b3b3;
}

.blokquotehr {
	border: 0;
	border-top: 1px dashed #009fd9;
	margin-top: -1px;
}

.article-title a {
	color: #009FD9;
	border-radius: 10px;
	padding: 3px 12px 0px 12px;
	transition: all 1s ease-out;
}

header {
	width: 100%;
	background: #009FD9;
	height: 450px;
	user-select: none;
}

footer {
	margin: 20px auto;
	color: #009FD9;
	text-align: center;
	font-size: 12px;
}

.toTop {
	z-index: 1000;
	position: fixed;
	right: 1.2em;
	bottom: 2.2em;
	border-radius: 25px;
	display: none;
	width: 36px;
	height: 36px;
	background: #009fd9;
	color: #fff;
	text-align: center;
	line-height: 36px;
	font-size: 14px;
	transition: all .3s;
	-webkit-animation: totop .8s;
	animation: totop .8s;
	box-shadow: 0 0 15px #888888;
}

.article-time {
	display: block;
	color: #009FD9;
	text-align: center;
	font-size: 12px;
}

a,u {
	/*position: relative;*/
	display: inline-block;
	color: #009FD9;
	text-decoration: none;
	padding-left: 3px;
}

.readmore a:hover {
	background: #009FD9;
	color: #fff;
	border-radius: 5px;
}

.readmore a {
	padding: 0 10px;
	color: #009FD9;
	transition: all .5s;
}


/* comments 评论样式*/
@media print, screen and (max-width: 767px) {
	#comments {
		margin: 10px 10px;
	}
}

#comments a {
/*	border-bottom: none;*/
	font-weight: bold;
}

#comments .widget-title {
/**	font-size: 16px;
	font-weight: normal;
	line-height: 2.7;
	display: block;
	margin: 0;
	padding-bottom: 0;
	color: #009999;
	border-bottom: 1px solid #ddd;
	margin-top: 30px;
**/
	border-left: 5px solid;
	padding: 0px 5px;
	color: #6f6d6e;
	border-radius: 5px;
}

#comments .pagination {
	margin: 35px 0 30px 0;
	text-align: center;
}

#comments {
	font-size: 14px;
	margin-top: 20px;
}

.comments .comment-about {
	width: 33.333%;
	float: left;
	padding-left: 10px;
	box-sizing: border-box;
}

.comments .comment-about:first-child {
	padding-left: 0;
}

@media (max-width: 637px ) {
	.comments .comment-about {
		width: 100%;
		float: left;
		padding: 0;
	}
}

/*博主的评论样式*/
.comment-by-author > .comment-author .fn::after {
	display: inline-block;
	content: '博主';
	transform: scale(0.8,0.8);
	background: #12baef;
	color: white;
	padding: 2px 4px;
	border-radius: 5px;
}

.comment-meta {
	margin-top: -10px;
}

.comment-content a {
	border-bottom: 1px solid #ddd;
}

.comment-content a {
	border-bottom-color: transparent;
}

.comment-content pre code {
	padding: 1.5em 2em;
}

.comment-content p code {
	display: inline;
	margin: 0 5px;
	padding: 3px 5px;
	border: 1px solid #ddd;
}

.comment-content p {
	padding-left: 40px;
	word-break: break-all;
	Word-wrap: break-Word;
}

.comment-content p img {
	border: 0;
	width: 100%;
}

.comment-list,
.comment-list ol {
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 14px;
	margin-top: -20px;
}

.comment-list {
	margin-bottom: 20px;
	margin-left: 20px;
}

.comment-list li {
	padding: 25px 0 0;
}

.comment-list li.comment-level-even {
	background: rgba(255,255,255,0);
}

.comment-list li .comment-reply {
	font-size: .92857em;
	float: right;
	margin-top: -24px;
	background: #e0e0e0;
	border-radius: 5px;
	position: relative;
}

.comment-list li .comment-reply a {
	color: #fff;
	padding-right: 2px;
	transition: all 0.6s ease;
}

.comment-list li .comment-reply a:hover {
	background: #2196F3;
	color: white;
	border-radius: 5px;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
	-ms-transition: all 1s ease;
	transition: all 1s ease;
}

.comment-meta a {
	font-size: 9px;
	color: #929292;
}

.comment-author {
	display: block;
	margin-bottom: 1px;
	color: #444;
}

.comment-author .avatar {
	float: left;
	border-radius: 5px;
	margin: 5px 3px 0 0;
	transition: all 0.5s;
	background: #ff005a;
	box-shadow: 0 0 15px #cecece;
	transition: all 1s ease;
}

.avatar:hover {
	border-radius: 16px;
	box-shadow: 0 0 10px #929292;
	animation: jump ease 1.5s 1;
	-webkit-animation: jump ease 1.5s 1;
	transform: rotate(720deg);
	transition: all 1s ease;
}

.comment-author cite {
	font-style: normal;
	line-height: 1.2;
	font-size: 12px;
	padding-right: 1px;
}

.comment-awaiting-moderation {
	font-style: normal;
	float: right;
	margin-top: -20px;
	color: #777;
}

.comment-list .respond {
	margin: 15px 0;
	border-top: 1px solid #ddd;
}

.comment-body .respond {
	margin: 0 0 25px;
	border: none;
}

.comment-children {
	margin-left: 40px;
}

.respond .cancel-comment-reply {
	font-size: .92857em;
	float: right;
	margin-top: 15px;
}

#comment-form {
	padding-top: 0px;
}

#comment-form label {
	position: absolute;
	display: block;
	margin: 1px 0px;
	color: #fff;
	background: #828282;
	padding-left: 8px;
	padding-top: 5px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	height: 28px;
}

#comment-form input {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
	padding: 8px 6px 8px 30px;
	color: #828282;
	border: solid 1px #f3f1f1;
	background: #fbfbfb;
	-o-box-sizing: border-box;
}

button.submit {
	color: #FFF;
	font-size: 14px;
	text-align: center;
	border: none;
	border-radius: 4px;
	width: 100%;
	height: 36px;
	line-height: 32px;
	padding: 0 15px;
	display: inline-block;
	position: relative;
	cursor: url(../img/link.cur),auto;
	box-sizing: border-box;
	-webkit-transition: color 0.15s ease-in,background-color 0.15s ease-in;
	transition: color 0.15s ease-in,background-color 0.15s ease-in;
	color: #FFF;
	border: 1px solid #009fd9;
	background-color: #009fd9;
}

button.submit:hover {
	background-color: #dc0434;
	color: #FFFFFF;
	border: 1px solid #dc0434;
}

textarea.text-area {
	font-size: 14px;
	line-height: 1.8;
	overflow: auto;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	height: 174px;
	margin: 0;
	padding: 5px 8px 5px;
	color: #555;
	background: #fdfdfd !important;
	-o-box-sizing: border-box;
}

.search {
	text-align: center;
	padding: 5px 0 25px 0;
}

.search-form {
	color: rgba(86, 188, 228, 0.6);
	font-size: 14px;
	display: inline-block;
	border-bottom: 1px rgba(0, 114, 158, 0.6) solid;
	line-height: 30px;
	border-radius: 10px;
	border-top: 1px solid;
	width: 240px;
}

.search-field {
	border: 0;
	background-color: rgba(0,0,0,0);
	/**color: rgba(255,255,255,.95);**/
	color: #ffffff;
	font-size: 14px;
	text-align: center;
	font-family: "Trebuchet MS";
}

.search-field::-webkit-input-placeholder {
 /* WebKit browsers */
	color: #fff;
}

.search-field:-moz-placeholder {
 /* Mozilla Firefox 4 to 18 */
	color: #fff;
}

.search-field::-moz-placeholder {
 /* Mozilla Firefox 19+ */
	color: #fff;
}

.search-field:-ms-input-placeholder {
 /* Internet Explorer 10+ */
	color: #fff;
}

button, input, textarea {
	outline: 0;
	text-indent: 25px;

	font-family: "Trebuchet MS";
	width: 100%;
	padding: 0px;
	border: 1px solid #d4d4d4;
	border-radius: 5px;
	padding: 5px 0px 0px 5px;
}

.textarea {
	background: url(../img/comments.png) no-repeat;
	background-position: 99.5% 95%;
	background-size: 70px 70px;
}

.reward-button {
	font-size: 14px;
	font-weight: bold;
	line-height: 30px;
	position: relative;
	display: block;
	width: 60pt;
	margin: 0 auto;
	padding: 0;
	-webkit-user-select: none;
	text-align: center;
	vertical-align: middle;
	color: #fff;
	border-radius: 4px;
	/*background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);*/
	background-image: linear-gradient(to right, rgba(0,191,86,0.85) 0%, rgba(0, 91, 234, 0.88) 100%);
	box-shadow: 0px 0px 10px 2px #c3c2c2;
}

#QR {
	padding-top: 20px;
}

#wechat_qr {
	width: 200px;
	height: 210px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
    /*border-bottom-left-radius:25px;
    border-bottom-right-radius:25px;*/
}

#alipay_qr {
	width: 200px;
	height: 210px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	/*border-bottom-left-radius:25px;
	border-bottom-right-radius:25px;*/
}

.zfb {
	color: #ffffff;
	background-image: linear-gradient(to top, #0755dc 0%, #019fe8 100%);
	font-weight: bold;
    /*border-top-left-radius: 25px;*/
	border-bottom-left-radius: 10px;
    /*border-top-right-radius: 25px;*/
	border-bottom-right-radius: 10px;
	padding: 2px 10px 2px 10px;
	margin-top: -8px;
}

.wx {
	color: #ffffff;
	background-image: linear-gradient(to top, #009688 0%, #22ab38 100%);
	font-weight: bold;
    /*border-top-left-radius: 25px;*/
	border-bottom-left-radius: 10px;
    /*border-top-right-radius: 25px;*/
	border-bottom-right-radius: 10px;
	padding: 2px 10px 2px 10px;
	margin-top: -8px;
}

.wxpd {
	display: inline-block;
	padding-right: 30px;
}

.zfbpd {
	display: inline-block;
	padding-left: 30px;
}

@media screen and (max-width: 768px) {
	.wxpd {
		padding-right: 0px;
	}

	.zfbpd {
		padding-left: 0px;
	}
}

#pContent .ssBtn {
	width: 20px;
	height: 60px;
	background: #009999 none repeat scroll 0% 0%;
	position: relative;
	right: 0px;
	bottom: 0px;
	box-sizing: border-box;
	border-left: none;
	display: box-shadow:;
	float: right;
}



.duan_cu {
	font-size: 16px;
	font-weight: bold;
	border-left: 5px solid #000000;
	padding: 0px 6px;
	color: #000000;
	border-radius: 3px;
}

.duan {
	border-left: 5px solid #673ab7;
	padding: 0px 6px;
	text-align: left;
	border-radius: 3px;
	font-size: 14px;
	color: #000;
	font-weight: bold;
}

.duanc {
	border-left: 5px solid #ff5722;
	padding: 0px 6px;
	text-align: left;
	border-radius: 3px;
	font-size: 14px;
	color: #ff5722;
	font-weight: bold;
}

.duan a,.duan_cu a,.duanc a {
	color: #009fd9;
}


.hide {
	display: none;
	text-align: left;
}


.gradps {
	font-size: 12px;
	font-weight: 500;
	text-align: center;
	color: #f35626;
	background-image: -webkit-linear-gradient(92deg,#f35626,#feab3a);
	-webkit-background-clip: text;
	-webkit-animation: hue 20s infinite linear;
 /*此处秒数控制颜色变化间隔*/
}

@-webkit-keyframes hue {
	from {
		-webkit-filter: hue-rotate(0deg);
	}

	to {
		-webkit-filter: hue-rotate(-360deg);
	}
}


/*评论标题样式*/
.ping1 {
	color: black;
	font-size: 14px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	border-left: 5px solid red;
	padding-left: 8px;
	user-select: none;
}

.ping2 {
	color: black;
	font-size: 14px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	border-left: 5px solid red;
	padding-left: 8px;
	margin: 10px 0px;
	user-select: none;
}

/*表格css样式*/
table {
	width: 100%;
 /*表格宽度*/
	max-width: 65em;
 /*表格最大宽度，避免表格过宽*/
	border: 1px solid #dedede;
 /*表格外边框设置*/
	margin: 0px auto;
 /*外边距*/
	border-collapse: collapse;
 /*使用单一线条的边框*/
	empty-cells: show;
 /*单元格无内容依旧绘制边框*/
	text-align: left;
}

table th,
table td {
	height: 35px;
 /*统一每一行的默认高度*/
	border: 1px solid whitesmoke;
 /*内部边框样式*/
	padding: 0 10px;
 /*内、边距*/
}

table th {
	font-weight: bold;
 /*加粗*/
	text-align: center !important;
 /*内容居中，加上 !important 避免被 Markdown 样式覆盖*/
	background: #00cee8;
 /*背景色*/
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

table tbody tr:nth-child(2n) {
	background: #efefef;
}

table th {
	white-space: nowrap;
 /*表头内容强制在一行显示*/
}

table {
	table-layout: fixed;
	word-break: break-all;
} /*列td内容过长也不会被撑开*/
table tbody {
}


/* 标签页面 */
.content_tags {
	text-align: center;
	font-size: 13px;
	user-select: none;
}

.tags {
	float: left;
	display: contents;
}

.tags a {
	border: 1px solid #008bbd61;
	border-radius: 5px;
	padding: 2px 10px;
	font-weight: bold;
	margin: 8px;
}

.tags a:hover {
	animation-direction: alternate;
	animation: jump ease 1.5s 1;
	-webkit-animation: jump ease 1.5s 1;
	background: #009fd9;
	color: white;
}
@keyframes jump {
    0% {
        -webkit-transform: translate(0);
        transform: translate(0);
    }

    10% {
        -webkit-transform: translateY(5px) scaleX(1.2) scaleY(.8);
        transform: translateY(5px) scaleX(1.2) scaleY(.8);
    }

    30% {
        -webkit-transform: translateY(-13px) scaleX(1) scaleY(1) rotateZ(5deg);
        transform: translateY(-13px) scaleX(1) scaleY(1) rotateZ(5deg);
    }

    50% {
        -webkit-transform: translateY(0) scale(1) rotateZ(0);
        transform: translateY(0) scale(1) rotateZ(0);
    }

    55% {
        -webkit-transform: translateY(0) scaleX(1.1) scaleY(.9) rotateZ(0);
        transform: translateY(0) scaleX(1.1) scaleY(.9) rotateZ(0);
    }

    70% {
        -webkit-transform: translateY(-4px) scaleX(1) scaleY(1) rotateZ(-2deg);
        transform: translateY(-4px) scaleX(1) scaleY(1) rotateZ(-2deg);
    }

    80% {
        -webkit-transform: translateY(0) scaleX(1) scaleY(1) rotateZ(0);
        transform: translateY(0) scaleX(1) scaleY(1) rotateZ(0);
    }

    85% {
        -webkit-transform: translateY(0) scaleX(1.05) scaleY(.95) rotateZ(0);
        transform: translateY(0) scaleX(1.05) scaleY(.95) rotateZ(0);
    }

    100% {
        -webkit-transform: translateY(0) scaleX(1) scaleY(1);
        transform: translateY(0) scaleX(1) scaleY(1);
    }
}

/* 菜单圆角 */
@media screen and (max-width: 768px) {
	.lixue {
		border-radius: 5px;
	}
}

@media screen and (min-width: 768px) {
	.lixue {
		border-radius: 30%;
	}
   // 电脑
}

/*文字闪烁效果*/
.shan {
	animation: changeshadow 2s  ease-in  infinite;
	/* 其它浏览器兼容性前缀 */
	-webkit-animation: changeshadow 2s linear infinite;
	-moz-animation: changeshadow 2s linear infinite;
	-ms-animation: changeshadow 2s linear infinite;
	-o-animation: changeshadow 2s linear infinite;
}

@keyframes changeshadow {
  
	0% {
		text-shadow: 0 0 4px #b72eff
	}

	50% {
		text-shadow: 0 0 40px #009fd9
	}

	100% {
		text-shadow: 0 0 4px #e91e63
	}
}
/* 添加兼容性前缀 */
@-webkit-keyframes changeshadow {
	0% {
		text-shadow: 0 0 4px #4cc134
	}

	50% {
		text-shadow: 0 0 40px #4cc134
	}

	100% {
		text-shadow: 0 0 4px #4cc134
	}
}

@-moz-keyframes changeshadow {
	0% {
		text-shadow: 0 0 4px #4cc134
	}

	50% {
		text-shadow: 0 0 40px #4cc134
	}

	100% {
		text-shadow: 0 0 4px #4cc134
	}
}

@-ms-keyframes changeshadow {
	0% {
		text-shadow: 0 0 4px #4cc134
	}

	50% {
		text-shadow: 0 0 40px #4cc134
	}

	100% {
		text-shadow: 0 0 4px #4cc134
	}
}

@-o-keyframes changeshadow {
	0% {
		text-shadow: 0 0 4px #4cc134
	}

	50% {
		text-shadow: 0 0 40px #4cc134
	}

	100% {
		text-shadow: 0 0 4px #4cc134
	}
}


