@font-face {
    font-family: "time";
    src: url("time.eot"); /* IE9 */
    src: url("time.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    
    url("time.woff") format("woff"), /* chrome、firefox */
    url("time.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+ */
    
    url("time.svg#time") format("svg"); /* iOS 4.1- */
    font-style: normal;
    font-weight: normal;
}


