@font-face {
    font-family: "lc";
    src: url("lc.eot"); /* IE9 */
    src: url("lc.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    
    url("lc.woff") format("woff"), /* chrome、firefox */
    url("lc.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+ */
    
    url("lc.svg#lc") format("svg"); /* iOS 4.1- */
    font-style: normal;
    font-weight: normal;
}


